{% for message in app.flashes('error') %}
    <div class="flash-error">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="flash-warning">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('info') %}
    <div class="flash-info">
        {{ message }}
    </div>
{% endfor %}