<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include 'navbar/navbar.nocategories.html.twig' %}
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
    {% include 'footer.html.twig' %}
</html>
