:root{
    --color-logo: #a1dd70;
    --color-bg1: grey;
    --color-navbar-svg: #222831;

    --color-filter-keyword: #295f4e;

    --flash-error-bg: #ff0000;
    --flash-error-txt: white;
    --flash-warning-bg: #feffdf;
    --flash-warning-txt: #ffa952;
    --flash-info-bg: #2542fc;
    --flash-info-txt: white;
}